.blogit-comment-unapproved{
	background-color: #D3D3D3;
	color: #808080;
	font-style: italic;
	}
.blogit-admin-link{
	border: none !important;
	padding: 0 0 0 2px !important;
	display: inline !important;
	}
.blogit-admin-link img{
	border: none !important;
	margin: 0 0 1px !important;
	padding: 0 !important;
	background-color: transparent !important;
	}
.blogit-guibuttons{
	margin-top: 10px;
	}
#dialog{
	display: none;
	text-align: left;
	}
#dialog .blogit-blog-form{
	margin-top: 0px !important;
	}
label.error{
	padding-left:12px;
	display: inline;
	}
.error{
	color: red;
	font-weight: bold;
	}

#showMessage{
	font-family: Arial, Helvetica, clean, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align:center;
	font-size:18px;
	border-bottom:1px solid #bbb;
	z-index: 2000 !important;
	}
#showMessage.notification{
	background-color: rgb(247, 247, 247);
	color: red;
	}
#showMessage.success{
	background-color: #BBFFB6;
	color: #060;
	}
#showMessage.error{
	background-color: #fdd;
	color: #f00;
	}
